<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abous Me</title>
</head>
<body>
    <p>My name is gustavos but you can call me Gus</p>
</body>
</html>